.log{
    height: 45px;
    width: 115px;
    margin: 25px; 
}
header h1 {
    background-color: #F37272;
    color: white;
    margin: 0px;
    height: 30px;
    text-indent: 15px;
    border: 10px dashed #F37272;
}
hr {
    border: 3px solid #F37272;
    color: #F37272
}
header h2 {
    background-color: #F37272;
    color: white;
    margin: 0px;
    height: 30px;
    text-indent: 15px;
    border: 10px dashed #F37272;
}

.social{
    height: 20px;
    width: 25px;
    padding-left: 0px;
    padding-bottom: 40px;
    margin : 100 px;    
}


img{
    height: 280px;
    width: 280px;
    padding-left: 10px;  /* a ajuster pour eloigner les photos*/
    padding-right: 10px; /* a ajuster pour eloigner les photos*/
}
.staff{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;    
}
.team{
    color: #F37272;
    font-size: 30px;
    height: 50px;
    font-weight: bold;
}
.étudiants{
    display: flex;
    height: auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;    
}
p{
    text-align: center;
}
.teamW4{
    background-color: #F37272;
    color: white;
    margin: 0px;
    height: 50px;
    text-indent: 15px;
    font-weight: bold;
    border: 5px dashed #F37272;
    font-size: 30px;
}
.contactus{
    background-color: #F37272;
    color: white;
    margin-top: 0px;
    height: 50px;
    text-indent: 15px;
    font-weight: bold;
    border: 5px dashed #F37272;
    font-size: 30px;
}
form {
    /* Uniquement centrer le formulaire sur la page */
    
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
}
form div + div {
    /* Ecart entre champ*/
    margin-top: 1em;
}
label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
    Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
    color: #F37272;

    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #F37272;
    }

    input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #F37272;
    }
form {
    /* Uniquement centrer le formulaire sur la page */
    
    width: 600px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: px solid #CCC;
    background-color: #F37272;
}
label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    text-align: right;
    color: white;
    font-size: 20px;
}
input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
    Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 450px;
   

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 3px solid #999;
}

input:focus, textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
}

            textarea {
            /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
            vertical-align: top;

            /* Pour donner assez de place pour écrire du texte */
            height: 9em;
            }

            .button {
            /* Pour placer le bouton à la même position que les champs texte */
            padding-left: 90px; /* même taille que les étiquettes */
            }

            button {
            /* Cette marge supplémentaire représente grosso modo le même espace que celui
                entre les étiquettes et les champs texte */
            width: 150px;
            height: 55px;
            font-size: 20px;
            margin-left: .5em;
            background-color: rgb(214, 212, 212);
            color: #F37272;
            border-color: white;
            }
footer{
    background-color: #F37272;
}
   
